@import 'mixins.less';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import (less)url('../lib/stellarnav/css/stellarnav.min.css');
@import (less)url('timeline.less');
html,
body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    @media (max-width: 380px) {
        font-size: 0.9em;
    }
}

.navmenu {
    font-size: 0.9rem;
    @media (min-width: 768px) {
        .calc-border:hover {
            background: @color-salad;
            a {
                color: white;
            }
            img {
                filter: brightness(0) invert(1);
            }
            .svg {
                fill: white !important;
            }
        }
    }
    li:not(.calc-border) {
        &.nav-first {
            padding: 5px 10px;
            &:hover {
                background: @color-blue;
                &>a {
                    color: white;
                }
            }
        }
    }
    li a {
        transition: none !important;
        white-space: nowrap;
    }
    .calc-border {
        border: 1px solid @color-salad;
        margin: 0 5px;
        padding: 2px;
    }
    li ul {
        font-size: 0.9rem;
        position: absolute;
        left: -10%;
        border: 1px solid #e6e6e6;
        box-shadow: 0 11px 29px rgba(0, 0, 0, .1);
        li {
            padding: 10px;
            &::after {
                content: '';
                width: 90%;
                height: 1px;
                background: #e6e6e6;
                display: block;
                position: absolute;
                top: 100%;
                margin-right: 20px;
            } // 2 уровень вложенности
            li {
                font-size: 0.8rem;
                &::after {
                    display: none;
                }
                padding: 5px; // 3ий уровень вложенности
                li {
                    padding: 0;
                }
            }
            li::after {
                display: none;
            }
            &:hover {
                &::before {
                    content: '';
                    display: block;
                    height: 50%;
                    width: 5px;
                    top: 25%;
                    position: absolute;
                    left: 0;
                    background: @color-blue;
                }
            }
            a:hover {
                color: @color-blue;
            }
        }
    }
    .drop {
        top: 100%;
        &::before,
        &::after {
            content: '';
            border: solid transparent;
            position: absolute;
            left: 20%;
            margin-left: -12px;
            top: -1rem;
            width: 0;
        }
        &::before {
            content: '';
            border-bottom-color: rgba(0, 0, 0, .3);
            border-width: 8px;
        }
        &::after {
            content: '';
            border-bottom-color: rgb(255, 255, 255);
            border-width: 8px;
            margin-left: -12px; // box-shadow: 0 11px 29px rgba(0, 0, 0, .1);
        }
    }
    @media (max-width: 768px) {
        ul {
            width: 100%;
        }
        .calc-border {
            border: none;
            padding: 5px 10px;
        }
        .drop {
            &::before,
            &::after {
                display: none;
            }
        }
        li:not(.calc-border) {
            &.nav-first {
                // padding: 15px;
                &:hover {
                    background: none;
                    &>a {
                        color: black;
                    }
                }
            }
        }
        li ul {
            position: static;
            left: 0;
            border: none;
            box-shadow: none;
            li {
                padding: 15px;
                &::after {
                    display: none;
                } // 2 уровень вложенности
                li {
                    font-size: 0.9rem;
                    &::after {
                        display: none;
                    }
                    padding: 15px; // 3ий уровень вложенности
                    li {
                        padding: 15px;
                    }
                }
                &:hover {
                    &::before {
                        display: none;
                    }
                }
                a:not(.dd-toggle):hover {
                    color: @color-blue;
                    &::before {
                        content: '';
                        display: block;
                        height: 40%;
                        width: 5px;
                        top: 25%;
                        position: absolute;
                        left: 0;
                        background: @color-blue;
                    }
                }
            }
        }
    }
}

a#city {
    text-decoration: none;
    font-size: 0.8rem;
    border-bottom: 1px dashed gray;
    .transition();
    &:hover {
        text-decoration: none;
        border-bottom: none;
    }
}

a#tel {
    font-size: 1.2rem;
    white-space: nowrap;
    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

.calc-svg {
    width: 1.4rem !important;
    height: 1.4rem !important;
    top: 0 !important;
    fill: @color-salad  !important;
}

.map .svg {
    fill: @color-salad;
    width: 0.8rem;
}

//owl
.owl-carousel {
    .item {
        img {
            width: 100%;
            height: 470px;
            display: block;
            object-fit: cover;
            @media (max-width: 320px) {
                height: 380px;
            }
        }
        .item-content {
            background: rgba(255, 255, 255, 0.8);
            position: absolute;
            z-index: 1;
            top: 8rem; // margin-left: 2rem;
            @media (max-width: 320px) {
                top: 3rem;
            }
            max-width: 36rem;
            p {
                font-weight: 300;
                @media (max-width: 320px) {
                    font-size: 0.8rem;
                }
            }
            a.btn {
                background: linear-gradient(to right, #d70b51, #a91e5d);
                background: -webkit-linear-gradient(to right, #d70b51, #a91e5d);
                background: -moz-linear-gradient(to right, #d70b51, #a91e5d);
                @media (max-width: 320px) {
                    font-size: 0.9rem;
                }
            }
            &::before {
                content: '';
                height: 100%;
                position: absolute;
                left: -0.8rem;
                top: 0;
                width: 0.5rem;
                background: @color-salad;
            }
        }
    }
}

#slider {
    .owl-dots {
        position: absolute;
        bottom: 1rem;
        width: 100%;
        .owl-dot {
            background: none;
            border: none;
            outline: none;
            span {
                width: 0.9rem !important;
                height: 0.9rem !important;
                background: #fff;
                &:hover {
                    background: lighten(@color-orange, 20%) !important;
                }
            }
            &.active span {
                background: @color-orange  !important;
            }
        }
    }
}

// points
.point {
    height: convert(84px, 'rem');
    width: covert(84px, 'rem');
    .img-container {
        .img {
            width: convert(48px, 'rem');
            height: convert(48px, 'rem');
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
        border-width: 2px;
        border-style: solid;
        &.b1 {
            border-image: linear-gradient(to bottom right, #0583b7, #bedee4);
            -webkit-border-image: linear-gradient(to bottom right, #0583b7, #bedee4);
            -moz-border-image: linear-gradient(to bottom right, #0583b7, #bedee4);
            border-image-slice: 1;
        }
        &.b2 {
            border-image: linear-gradient(to bottom right, #f07b00, #fbb400);
            -webkit-border-image: -webkit-linear-gradient(to bottom right, #f07b00, #fbb400);
            -moz-border-image: -moz-linear-gradient(to bottom right, #f07b00, #fbb400);
            border-image-slice: 1;
        }
        &.b3 {
            border-image: linear-gradient(to bottom right, #3ea734, #d6dd5e);
            -webkit-border-image: -webkit-linear-gradient(to bottom right, #3ea734, #d6dd5e);
            -moz-border-image: -moz-linear-gradient(to bottom right, #3ea734, #d6dd5e);
            border-image-slice: 1;
        }
    }
    .card-description {
        font-size: 0.85rem;
    }
}

.about-image {
    width: 270px;
}

// Продукты
.product-item {
    @color-orange: #fbb600;
    @color-pink: #a91e5d;
    @color-blue: #0583b7; // @height: 20rem;
    &.primary {
        height: 100%;
        @media (max-width: 991.98px) {
            height: 12rem !important;
        }
        .text-container span {
            font-size: 1.2rem;
            max-width: 100%;
        }
    }
    height: 12rem;
    .product-image {
        background-size: cover;
        filter: brightness(60%);
    }
    .text-container {
        bottom: 0;
        span {
            font-size: 0.75rem;
            max-width: 90%;
        }
    }
    .square {
        padding: 0.25rem;
        &.square-salad {
            background: @color-salad;
        }
        &.square-orange {
            background: @color-orange;
        }
        &.square-pink {
            background: @color-pink;
        }
        &.square-blue {
            background: @color-blue;
        }
    }
    .product-hover {
        opacity: 0;
        top: 0;
        left: 0;
        background: rgba(red(@color-blue), green(@color-blue), blue(@color-blue), 0.8); // .transition();
        p {
            font-size: 0.65rem;
        }
        a {
            font-size: 0.9rem;
        }
    }
}

.popular-nav {
    .pop-prev,
    .pop-next,
    .work-prev,
    .work-next,
    .gallery-next,
    .gallery-prev {
        border: 2px solid #c7c7c7;
        width: 1.5rem;
        height: 1.5rem;
        svg, .svg {
            fill: #686868;
            object-fit: contain;
        }
        cursor: pointer;
        &:hover {
            .transition();
            background: #c7c7c7;
        }
    }
    .pop-prev,
    .work-prev,
    .gallery-prev {
        transform: rotate(180deg);
    }
    &.mobile {
        div {
            width: 3rem!important;
            height: 3rem!important;
        }
        img {
        }
    }
}

.product-container {
    @color-salad: #afc435;
    .item {
        // border: 1px solid #e0e0e0;
        img {
            max-height: 8rem;
            width: 100%;
            object-fit: cover;
        }
        .transition();
        &:hover {
            box-shadow: 0 8px 29px rgba(0, 0, 0, 0.1);
            background: rgba(0, 0, 0, 0) !important;
        }
    }
    .btn-salad {
        background: @color-salad;
        font-size: 0.8rem;
        &:hover {
            background: #fbb600;
        }
    }
    .price {
        font-family: 'Roboto Condensed', sans-serif;
    }
}

//article
.last-news-article {
    &:hover {
        img {
            filter: opacity(50%);
        }
        .category {
            background: #c1c1c1;
        }
        .link {
            text-decoration: underline;
        }
    }
    .category {
        background: @color-salad;
        font-size: 0.8rem;
        &:hover {
            background: @color-salad;
        }
    }
    img,
    a {
        .transition();
    }
    img {
        object-fit: cover;
        height: 10rem;
        width: 100%;
    }
    time {
        font-size: 0.8rem;
    }
}

footer {
    .social-icon {
        display: inline-block;
        width: 28px;
        height: 28px;
        background-size: 28px 28px;
        background-repeat: no-repeat;
        &.fb {
            background-image: url('../img/icon-facebook.svg');
        }
        &.vk {
            background-image: url('../img/icon-vk.svg');
        }
        &.insta {
            background-image: url('../img/icon-instagram.svg');
        }
    }
    ul>li {
        font-size: 0.8rem;
    }
    .phone {
        width: 0.8rem;
        height: 0.8rem;
        fill: @color-salad;
    }
    .atom {
        width: 4rem;
    }
}

.phone-link {
    font-size: 1rem;
    background-image: url('../img/phone-receiver.svg');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 1.2rem;
    background-size: .9rem;
    white-space: nowrap;
}

// Breadcrumb
.breadcrumb {
    background-color: transparent;
    font-size: 0.8rem;
    li,
    li a {
        color: inherit;
    }
}

// PAGE
// page menu
.page-menu {
    @gray: #e0e0e0;
    @blue: #38b8e1;
    .menu-item {
        .primary-link {
            font-size: .8rem;
            .transition(); // font-size: 0.8rem;
            &::before {
                content: '';
                display: block;
                margin-right: .7rem;
                padding: 3px;
                background: @gray;
            }
            &:hover {
                color: @color-salad  !important;
                &::before {
                    background: @color-salad;
                }
            }
        }
        &.active {
            .primary-link {
                color: @color-salad  !important;
                &:hover {
                    text-decoration: none;
                }
                &::before {
                    background: @color-salad;
                }
            }
        }
        li a {
            .transition();
            text-decoration: none;
            &:hover {
                color: @blue  !important;
            }
        }
    }
}

// products
#page h1 {
    color: #333;
}

#page .product-container {
    // padding: 0 15px;
    .item .wrapper {
        @background: #f9f9f9;
        background: @background  !important; // max-width: 15.5rem;
        &:hover {
            background: white !important;
        }
    }
}

//paginator
.pagination {
    .page-item {
        &:not(.active) {
            border: #e1e1e1;
        }
        &.active {
            border: none;
            .page-link {
                background: #38b8e1;
                border: 1px solid #38b8e1;
                color: white;
            }
        }
        .page-link {
            .transition();
            color: #333333;
            font-weight: 500;
            &:hover {
                background: #38b8e1;
                border: 1px solid #38b8e1;
                color: white;
            }
        }
    }
}

// где купить
#map-change {
    position: absolute;
    z-index: 100;
    top: 1rem;
    left: 2rem;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .1);
    border: none;
    border-radius: 0;
    width: 220px;
    @media (max-width: 768px) {
        left: 1rem;
    }
}

.map-container {
    height: 375px;
    @media (max-width: 768px) {
        height: 300px;
    }
}

.my-table {
    thead tr {
        background: #f1f1f1;
    }
    font-size: 0.8rem;
    @media (max-width: 992px) {
        width: 750px;
    }
    tbody .phone-link {
        left: -20px
    }
}

//preson
.team-description {
    // font-size: .85rem
}

.person {
    h2,
    p,
    a {
        color: #333;
    }
    .person-description {
        .post {
            font-style: oblique;
        }
        .description {
            font-size: .85rem
        }
    }
}

// contacs
.btn-change-state {
    font-size: .8rem;
    width: 8rem;
    @media (max-width: 768px) {
        width: 7.3rem;
        font-size: .7rem;
    }
    @media (max-width: 576px) {
        width: 6.7rem;
        font-size: .65rem;
    }
    .transition();
    &:hover:not(.active) {
        background: lighten(@color-salad, 2%);
        color: white;
        border: 1px solid @color-salad  !important;
    }
}

.btn-group-contact {
    .active {
        .bg-salad !important;
        color: white !important;
        &:hover {
            color: white;
        }
        border: 1px solid @color-salad  !important;
        box-shadow: none;
    }
}

.figure-container {
    figure {
        width: 30px;
        height: 30px;
        div {
            width: 30px;
            height: 20px;
            bottom: -5px;
            opacity: .2;
        }
    }
    div p {
        line-height: 1.3
    }
}

.catalog-description{
    .description{
        font-size: .9rem;
    }
}

// catalog item
.catalog-item {
    @color-orange: #f47e23;
    .price {
        background: #fff7e6;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .buy {
        img {
            filter: brightness(0) invert(.7);
        }
        a {
            color: @color-orange;
            border-bottom: 1px solid @color-orange;
            line-height: 1.2;
            &:hover {
                text-decoration: none;
                color: lighten(@color-orange, 10%);
                border-bottom: 1px solid lighten(@color-orange, 10%);
            }
        }
    }
    .item-description {
        font-size: .9rem;
    }
}

.item-table {
    font-size: .9rem;
}

.additional-options {
    .description {
        p {
            font-size: 14px;
            line-height: 25px;
        }
    }
}

// work slider
#work-slider {
    .work-image {
        overflow: hidden;
        img {
            height: 350px;
            &.no-img {
                height: 350px;
                top: 0;
                left: -10%;
                filter: brightness(0) invert(.7);
                z-index: -1;
                opacity: .1;
            }
        }
    }
    .firm {
        background: #d8df99;
    }
    .description,
    .info {
        font-size: .9rem;
    }
    .popular-nav {
        div {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}

// product gallery slider
#product-gallery {
    .item {
        img {
            height: 170px;
        }
    }
}

.product-nav {
    top: 0;
    height: 170px;
    div {
        width: 1.6rem;
        height: 1.6rem;
        &.gallery-prev {
            right: 102%;
        }
        &.gallery-next {
            left: 102%;
        }
    }
}